{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Curd</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Curd </h1>   
{{ end }}